.App{
  color: #000;
  background-color: #000;
  padding: 1rem 0;
}
.navigation{
  display: flex;
  margin: 0 1rem ;
}
.navigation h3{
  cursor: pointer;
  margin: 0 1.3rem;
}
.nav_buttons{
  margin-left: auto;
  display: flex;
  gap: 1rem;
}

.app_link{
  text-decoration: none;
  color: blueviolet;
}
.navigation_wallet{
  position: relative;
  margin-left: auto;
}
.avatar{
  cursor: pointer;
}
.navigation span{
  color: #ffffff;
}
.navigation p{
  color: #fff;
  margin: 0.5rem 0;
}
.content_button{
  background-color: blueviolet;
  cursor: pointer;
  border: none;
  margin: 1rem;
  padding: 1rem;
  border-radius: 30px;
}

@media screen and (max-width : 800px) {
  .nav_buttons{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
.earnings{
  margin-left: auto;
  padding: 0.5rem 5rem;
}
.earnings h4{
  color: #555;
}
.earnings h2{
  color: #fff;
}
.mint_nft{
  display: flex;
}