.App{
  color: #000;
  background-color: #000;
  padding: 1rem 0;
}
.navigation{
  display: flex;
  margin: 0 1rem ;
}
.navigation h3{
  cursor: pointer;
}
.navigation button{
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  margin-left: auto;
  background-color: blueviolet;
  border-radius: 1.5rem;
}
.navigation p{
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  margin-left: auto;
  background-color: blueviolet;
  border-radius: 1.5rem;
}
.app_link{
  text-decoration: none;
  color: blueviolet;
}
.navigation_wallet{
  position: relative;
  margin-left: auto;
}
.avatar{
  position: absolute;
  margin-left: -1.3rem;
  cursor: pointer;
}
.navigation span{
  color: #fff;
}