.feed_container{
    display: block;
    width: 100%;
    background-color: #000;
    height: 100%;

}
.nft-feed h2{
    margin: 2rem 1.5rem;
    color: #fff;
}
.nft-cards p{
  color: #fff;
}
  
  .nft-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 10px 20px;
  }
  
  .nft-card {
    background-color: #060606;
    border-radius: 10px;
    box-shadow: 0 0.2rem .2rem rgba(0, 0, 0, 0.2);
    padding: 15px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    color: #fff;
  }
  
  .nft-card:hover {
    transform: scale(1.05);
  }
  
  .nft-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
.link_nft{
  text-decoration: none;
}  
.nft-card video{
  width: 100%;
  height: 200px;
  border: 2px solid #000;
  object-fit: cover;
}
  
  
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .nft-cards {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
  
  @media (max-width: 480px) {
    .nft-cards {
      grid-template-columns: 1fr;
    }
  
    .nft-card {
      padding: 10px;
    }
  
    .nft-image {
      height: 150px;
    }
  
    h3 {
      font-size: 1.1em;
    }
  
    p {
      font-size: 0.9em;
    }
  }
  