.profile{
    width: 100%;
    height: 300px;
    position: relative;
    margin: 1rem 0;
    border-bottom: 1px solid #161616;
}
.cover_photo{
   width: 100%;
   height: 30%;
   background-color: #161616;
   text-align: center;
}
.cover_photo h3{
    color: #fff;
    padding: 2rem 0;
}
.profile_photo{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    border-radius: 50%;
    margin: -3rem 0.7rem;
}
.profile_photo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.profile_info{
    position: relative;
    margin: 3.2rem 1.4rem;
    color: #fff;
}
.profile_info p{
    overflow-wrap: break-word;
    width: 70%;
}
.profile_edit{
    position: absolute;
    right: 5%;
    top: 85%;
}
.profile_edit button{
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 20px;
    background-color: blueviolet;
}
.edit{
    color: #fff;
    margin: 5rem 3rem;
}
.edit_form{
   display: flex;
   flex-direction: column;
   margin: 2rem 0;
   position: relative;
}
.info{
    margin: 0.5rem;
}
.edit_form input[type="text"]{
    margin: -0.2rem 0.5rem;
}
 #description{
    padding: 1rem;
    margin-left: 0.5rem;
}
 .edit h3{
   font-size: 2.3rem;
   margin-left: 0.5rem ;
}

.edit button{
    border: none;
    background-color: blueviolet;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 20px;
    margin: 1rem 0;
}
