.mint{
    margin: 3rem 1rem;
}
.mint form{
    display: block;
}

input[type="file"] {
    display: none;
  }
  
.file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    margin: 0 0.5rem;
    color: #fff;
}

.file-upload:hover {
    background-color: blueviolet;
    color: white;
    border: none;
}

input[type="text"]{
    margin: 1rem 0.5rem;
    padding: 0.5rem;
    width: 80%;
    background-color: #222222;
    color: #fff;
    border: 1px solid #333;
}

.form_button{
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: blueviolet;
    border-radius: 20px;
}

.content{
    margin: 1rem;
    color: #fff;
}
.content_title{
    font-size: 2rem;
    margin: 3rem 1.7rem;
}
.content video{
    width: 300px;
    height: 200px;
    border: 2px solid #000;
    margin: 1.5rem 0;
}
.nft-container{
    margin: 2rem 0;
}
.nft-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    padding: 10px 20px;
}
.mint_arrow{
    font-size: 30px;
    cursor: pointer;
    margin-bottom: 2rem;
}
.content-settings{
    margin-top: 6rem;
}
.content-settings h3,p{
    color: #fff;
}
.content-settings h3{
    font-size: 2.2rem;
}
.content-settings p{
    font-weight: 200;
}
.c_settings_form{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}
input[type="number"]{
    margin: 1rem 0.5rem;
    padding: 0.5rem;
    width: 80%;
    background-color: #222222;
    color: #fff;
    border: 1px solid #333;
}
.c_settings_form button{
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: blueviolet;
    border-radius: 20px;
}
 /* Responsive Styles */
 @media (max-width: 768px) {
    .nft-container {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
  
  @media (max-width: 480px) {
    .nft-container{
      grid-template-columns: 1fr;
      gap: 10px;
    }
}
#status {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
  }
.price,.purchase{
    color: #fff;
    margin-left: 0.5rem;
}  
